
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,500&display=swap');

*{
    
    margin: 0;
    padding: 0; 

}

body, html{

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body{
    background-image: url(https://images.unsplash.com/photo-1506269996138-4c6d92fbd8a5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1550&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    
}

.center .avatar img{

    border-radius: 50%;
    width: 140px;
    height: 150px;
    margin-top: 5%;
    object-fit: cover;
    object-position: 0 -8px;
    
}

.center {
    width: 55%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 60vh;
    text-align: center;
    border-radius: 5px;

}

.content{
    padding: 30px;

}

h1{
    color: #1e1e1e;

}

.content p{
    font-weight: lighter;
    letter-spacing: 1px;
    width: 70%;
    margin: 10px auto; 
    padding: 50px;

}
div .social i{
    padding 0 10px;
    font-size: 30px;
    color: rgb(26, 2, 130);
    transition: 04s;

}

div .social i:hover{
    color: rgba(255, 255, 255, 1);
    
}

.btn {
display: inline-block;
padding: 1.7rem 4.5rem;
text-decoration: none;
background: #1e1e1e;
font-size: 2rem;
color: beige;
border-radius: 10px;
transition: background 0.5s;

}
.btn:hover{
    background: rgba(115, 115, 115, 0.9);
    
}